/* You can add global styles to this file, and also import other style files */

@font-face {
  src: url("assets/Fonts/Vazir.ttf");
  font-family: 'primaryFont';
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
div{
  font-family: primaryFont;
  font-weight: 700;
}
.hover-header:hover{
  background-color: #1d2129;
}
//.backdropBackground{
//  background-color: #2196f3;
//}
