/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
  src: url("assets/Fonts/Vazir.ttf");
  font-family: 'primaryFont';
}

@font-face {
  src: url("assets/Fonts/Vazir-Bold.ttf");
  font-family: 'primaryBoldFont';
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
div{
  font-family: primaryFont;
  font-weight: 700;
}
.hover-header:hover{
  background-color: #1d2129;
}
.backdropBackground{
  overflow-y: scroll !important;
}
.mat-dialog-container{
  background-color: transparent !important;
  padding: 0 !important;
  max-width: 480px !important;
}
