<!-- CSS only -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

<header>
  <div class="row" style="background-color: gray; height: 70px; direction:rtl; font-size: 20px; text-align: center; color: whitesmoke; cursor: pointer">
    <div class="col hover-header" style="margin-right: 10px; padding-top: 20px">خانه</div>
    <div class="col hover-header" style="margin-right: 10px;padding-top: 20px">آگهی ها</div>
    <div class="col hover-header" style="margin-right: 10px; padding-top: 20px">ثبت آگهی</div>
  </div>

</header>
<router-outlet></router-outlet>
