<html>
<head>
  <!-- CSS only -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
          crossorigin="anonymous"></script>
</head>
<body dir="rtl">
<div class="container">
  <h1>
    فروشگاه کالاهای دست دوم
  </h1>
  <h2>در این سایت می توانید کالاهای دست دوم خود را برای فروش بگذارید:)</h2>
  <div class="project-details">
    <p class="context">
      این سایت به عنوان پروژه درس مهندسی نرم افزار توسعه داده شده است
    </p>

    <div class="developers">
      <p>اسامی توسعه دهندگان‌</p>
      <div class="developer">
        <span class="name">سیدعلیرضا اعزاز</span>
        <span class="github">
          <a href="https://github.com/Alireza-Ezaz" style="text-decoration: none" class="username">Alireza-Ezaz</a><img
          src="../../../assets/Images/GitHub-Mark-Light-32px.png" alt="">
        </span>
      </div>
      <div class="developer">
        <span class="name">محمدصدرا حائری اسدی</span>
        <span class="github">
          <a href="https://github.com/mohammadsadra" style="text-decoration: none"
             class="username">mohammadsadra</a><img src="../../../assets/Images/GitHub-Mark-Light-32px.png" alt="">
        </span>
      </div>
      <div class="developer">
        <span class="name">آریان بوکانی</span>
        <span class="github">
          <a href="https://github.com/2arian3" style="text-decoration: none" class="username">2arian3</a><img
          src="../../../assets/Images/GitHub-Mark-Light-32px.png" alt="">
        </span>
      </div>
    </div>
  </div>
</div>
<footer>
  <div class="footer">
    <p class="m-0 text-center text-white">کپی رایت &copy; ۲۰۲۱</p>
  </div>
</footer>
</body>
</html>
