<body style="z-index: -1!important;">
<div class="fadeIn animated" style="color: white; font-size: 4em; z-index: 1000" *ngIf="isZero">
 آیتمی برای نمایش وجود ‌ندارد!
</div>
<div class="container animated fadeIn">


  <div class="card" *ngFor="let ad of result">

    <p class="backOfCard">
      {{ad.title}}
    </p>

    <div class="content">

      <p>
        {{ad.category}}
      </p>

      <p style="opacity: 1!important;">
        {{ad.title}}
      </p>


      <a (click)="openDialog(ad)">
        ادامه
      </a>
      <div>
        <a style="background-color: #e91e63" (click)="openReportDialog(ad)">
          ثبت شکایت
        </a>
      </div>

    </div>
  </div>

</div>

</body>
