<body style="z-index: 100!important;">

<div class="container animated fadeIn">

  <div class="card" *ngFor="let ad of result">

    <div>
      <h3 class="backOfCard">
        {{ad.title}}
      </h3>
    </div>

    <div class="content" style="margin-top: 3px">

      <h2>
        {{ad.category}}
      </h2>

      <h3>
        {{ad.title}}
      </h3>

      <hr class="simpleLine">

      <div *ngFor="let line of ad.description.split('\n')" class="description">
        {{line}}
        <div *ngIf="line == '' ">
          <br>
        </div>
      </div>

      <a (click)="openDialog(ad)">
       ادامه
      </a>
    </div>
  </div>

</div>

</body>
