<body style="z-index: 100!important;">

<div class="container">

  <div class="card">
    <div>
      <h3 class="backOfCard">
        01
      </h3>
    </div>
    <div class="content">
      <h2>
        01
      </h2>
      <h3>
        Card One
      </h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Alias atque cupiditate exercitationem fugit molestiae neque quam quod recusandae, sapiente voluptas?
      </p>
      <a href="#">
        Read More
      </a>
    </div>
  </div>

  <div class="card">
    <h3 class="backOfCard">
      02
    </h3>
    <div class="content">
      <h2>
        02
      </h2>
      <h3>
        Card Two
      </h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Alias atque cupiditate exercitationem fugit molestiae neque quam quod recusandae, sapiente voluptas?
      </p>
      <a href="#">
        Read More
      </a>
    </div>
  </div>

  <div class="card">
    <h3 class="backOfCard">
      02
    </h3>
    <div class="content">
      <h2>
        03
      </h2>
      <h3>
        Card Three
      </h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Alias atque cupiditate exercitationem fugit molestiae neque quam quod recusandae, sapiente voluptas?
      </p>
      <a href="#">
        Read More
      </a>
    </div>
  </div>

  <div class="card">
    <h3 class="backOfCard">
      03
    </h3>
    <div class="content">
      <h2>
        03
      </h2>
      <h3>
        Card Three
      </h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Alias atque cupiditate exercitationem fugit molestiae neque quam quod recusandae, sapiente voluptas?
      </p>
      <a href="#">
        Read More
      </a>
    </div>
  </div>

  <div class="card">
    <h3 class="backOfCard">
      04
    </h3>
    <div class="content">
      <h2>
        04
      </h2>
      <h3>
        Card Four
      </h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Alias atque cupiditate exercitationem fugit molestiae neque quam quod recusandae, sapiente voluptas?
      </p>
      <a href="#">
        Read More
      </a>
    </div>
  </div>

  <div class="card">
    <h3 class="backOfCard">
      05
    </h3>
    <div class="content">
      <h2>
        05
      </h2>
      <h3>
        Card Five
      </h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Alias atque cupiditate exercitationem fugit molestiae neque quam quod recusandae, sapiente voluptas?
      </p>
      <a href="#">
        Read More
      </a>
    </div>
  </div>

  <div class="card">
    <h3 class="backOfCard">
      06
    </h3>
    <div class="content">
      <h2>
        06
      </h2>
      <h3>
        Card Six
      </h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Alias atque cupiditate exercitationem fugit molestiae neque quam quod recusandae, sapiente voluptas?
      </p>
      <a href="#">
        Read More
      </a>
    </div>
  </div>

  <div class="card">
    <h3 class="backOfCard">
      07
    </h3>
    <div class="content">
      <h2>
        07
      </h2>
      <h3>
        Card Seven
      </h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Alias atque cupiditate exercitationem fugit molestiae neque quam quod recusandae, sapiente voluptas?
      </p>
      <a href="#">
        Read More
      </a>
    </div>
  </div>

  <div class="card">
    <h3 class="backOfCard">
      08
    </h3>
    <div class="content">
      <h2>
        08
      </h2>
      <h3>
        Card Eight
      </h3>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit.
        Alias atque cupiditate exercitationem fugit molestiae neque quam quod recusandae, sapiente voluptas?
      </p>
      <a href="#">
        Read More
      </a>
    </div>
  </div>

</div>
<script type="text/javascript" src="vanilla-tilt.js"></script>
<script>
  VanillaTilt.init(document.querySelectorAll(".card"), {
    max: 25,
    speed: 400,
    glare: true,
    "max-glare": 1,
  });

  // //It also supports NodeList
  // VanillaTilt.init(document.querySelectorAll(".card"));
</script>

</body>
