<body>

<div >

  <div class="card">
    <img [src]="adData.pictureLink" class="user_img" *ngIf="adData.pictureLink != null">
    <img src="https://cdn.yjc.ir/files/fa/news/1399/2/28/11910423_221.jpg" class="user_img" *ngIf="adData.pictureLink == null">
    <div class="content">
      <h2>
        01
      </h2>
      <h3>
        عنوان
      </h3>
      <p>
        <span>{{this.adData.city}} / </span>
        <span>{{this.adData.region}}</span>
      </p>
      <div *ngFor="let line of this.adData.description.split('\n')" class="description">
        {{line}}
        <div *ngIf="line == '' ">
          <br>
        </div>
      </div>
      <p>
        :آدرس
        <br>
        {{this.adData.address}}
      </p>
      <p>
        :تماس
        <br>
        {{this.adData.phoneNumber}}
      </p>
      <p>
        :صاحب آگهی
        <br>
        {{this.adData.creatorId}}
      </p>

    </div>
  </div>
</div>

</body>
